* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"], input[type="time"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#consultas-mensais-lista button, #consultas-diarias-lista button {
    display: inline-block;
    margin: 5px;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#consultas-mensais-lista button:hover, #consultas-diarias-lista button:hover {
    background-color: #218838;
}